.formula-column-plugin-modal{
  .formula-column-modal-hl {
    width: 100%;
    height: 100%;

    .cui-code-input{
      width: 100%;
      height: 100%;
    }

    .info-column-vl {
      height: 100%;
      .cui-vertical-layout-center{
        height: 100%;
        justify-content: space-between;
      }
    }
  }

  .ace_editor {
    width: 100%;
    height: 100%;
    margin-left: 30px;
  }
}

.formula-column-plugin-info-label{
  width: 400px;
  padding: 20px;
  align-items: inherit !important;
}